@charset "utf-8";
/* CSS Document */

body{
	font-size: 30px;
	font-weight: 600;
}
p[id="1"]
{
	font-weight: 900;
	margin-bottom: 30px;
	color: black;
}
p{
	margin : 5px;
}
a:link{
	color: green;
	text-decoration: none;
}
a:visited{
	color: blue;
	text-decoration: none;
}
a:hover{
	color:red;
	text-decoration: underline;
}
a:active{
	color:yellow;
	text-decoration: underline;
}