@charset "utf-8";
/* CSS Document */
.id1{
	font-size: 15px;
	font-weight: 600;
	border: 2px solid #333333;
	padding: 2px;
	background-color: darkgrey;
	display: inline-block;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.id2{
	font-size: 30px;
	font-weight: 600;
	border: 2px solid #333333;
	padding: 2px;
	background-color: darkgrey;
}
.id3{
	font-size: 20px;
	border: 2px solid #333333;
	padding :3px;
}
.id4{
	font-size: 20px;
	border: 2px dashed #4193B8;
	padding: 3px;
}
.id5{
	font-size: 15px;
	border: 2px dashed red;
	background-color: darkgray;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	display: inline-block;
	font-weight: 600;
	padding:2px;
}
img{
	border: 2px solid #333333;
	padding: 2px;
	width: 200px;
	height: 200px;	
}

