@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	border: 0;
}
.left
{
	float: left;
	background-color: palevioletred;
	width: 20%;
	min-height: 500px;
	padding: 20px;
	margin: 10px;
}
.right
{
	float: right;
	background-color: palevioletred;
	width: 20%;
	min-height: 500px;
	padding: 20px;
	margin: 10px;
}
.main{
	background-color: thistle;
	width: 80%;
	min-height: 500px;
	padding: 20px;
	margin: 10px;
	text-align: center;
}
.bottom{
	color: red;
	text-align: center;
	background-color: honeydew;
	width: 100%;
	height: 50px;
}
.tieude{
	width: 100%;
	height: 40px;
	background-color: antiquewhite;
	color: brown;
	text-align: center;
}